{% extends "base_generic.html" %} {% block content %}
<div class="profile-container">
  <h2>Profile of: {{ user.username }}</h2>
  {% if user != request.user %}
  <form action="{% url 'follow_unfollow_user' username=user.username %}" method="post" class="w-100">
    {% csrf_token %} {% if user.profile in request.user.profile.follows.all %}
    <button type="submit" class="submit-btn btn-wide font-big bold mt-0">Unfollow</button>
    {% else %}
    <button type="submit" class="submit-btn btn-wide font-big bold mt-0">Follow</button>
    {% endif %}
  </form>
  {% else %}
  <a href="{% url 'edit_profile' %}" class="submit-btn btn-wide font-big bold mt-0">Edit Profile</a>
  {% endif %} {% if user.profile.profile_picture %}

  <img src="/media/{{ user.profile.profile_picture }}" alt="Profile picture" class="profile-picture" />
  {% endif %} {% if user.profile.bio %}
  <div>
    <h2>Bio</h2>
    <span>{{ user.profile.bio }}</span>
  </div>
  {% endif %}

  <h3>Followers</h3>

  {% for follower in followers %}
  <a href="{% url 'profile' username=follower.user.username %}">{{ follower.user.username }}</a> {% endfor %}

  <h3>Observed</h3>

  {% for follow in follows %}
  <a href="{% url 'profile' username=follow.user.username %}">{{ follow.user.username }}</a> {% endfor %}
</div>
{% endblock %}
